$color-black: #2d2f36;

$color-dark: #462005;

$color-danger: #f61d1d;

$color-light-1: #fcf6f1;
$color-light-2: #ffecde;

$color-primary-1: #e27223;
$color-primary-2: #bc5b14;

$default-font-size: 1.6rem;
