.btn {
	&,
	&:visited,
	&:link {
		border: none;
		border-radius: 0.3rem;
		outline: none;
		text-decoration: none;
		font-size: $default-font-size;
		padding: 0.7rem 1.2rem;
		transition: all ease-in-out 0.2s;
		cursor: pointer;
	}

	&--danger {
		background: $color-danger;

		color: $color-light-1;
		border: 0.2rem solid $color-danger;

		@include respond(phone) {
			border-width: 0.3rem;
		}
		&:hover {
			background: rgba($color-danger, 0.1);
			color: $color-danger;
		}
	}
}
